table {border-collapse:collapse; width: 100%;}
.bottom {vertical-align: bottom;}
.indent {padding-left: 5em;}
.right {text-align: right;}
.center {text-align: center;}
td, th {padding: 0.25em; vertical-align: top; text-align: left;}
tr.underline td, tr.underline th {border-bottom: solid 1px black;}
