.alert {
}

.navbar-nav {
    margin-top: -3px;
}

.brand {
    color: #488AC7 !important; /* steel blue */
}

.brand-title {
    margin-left: 0.5rem;
}

.brand-tagline {
    font-size: 70%;
    margin-left: 0.5rem;
}


ol.carousel-indicators {
    list-style-type: none;
}

.carousel-image {
    width: 100%;
}

.carousel-inner {
    width: 100%;
    max-height: 640px !important;
}


.carousel .carousel-indicators li {
    background-color: #fff;
    background-color: #488AC7;
}

.carousel .carousel-indicators .active {
    background-color: #444;
}

div.header h3 i {
    color: grey;
    padding-right: .5rem;
}